
<div fxFlex fxLayout="row" class="w-mat-timepicker">

    <button mat-button (click)="showPicker($event)" class="time-picker-button">
        <mat-icon>access_time</mat-icon>
    </button>

    <mat-form-field fxFlex class="timeContainer" appearance="outline">
        <mat-label>Select time</mat-label>
        <input matInput
            class="timeInput"
            id="time_Control" 
            name="time_Control"
            [value]="time"
            (click)="showPicker($event)"
        >
    </mat-form-field>

</div>
